{% extends 'inventory/wrapper.html' %}

{% block head %}
<title>Добавление ценности</title>
{% endblock %}

{% block content %}

<form id="f" method="post" action="add_wealth" style="text-align: center;">
    {% csrf_token %}
    <table style="margin: auto; text-align: right;">
    <tr>
        <td>
            <b>Выберите организацию:</b>
        </td>
        <td>
            <select name="org_name">
                {% for org in orgs %}
                    <option value="{{org.org_name}}">{{org.org_name}}
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <b>Название ценности:</b>
        </td>
        <td>
            <input type="text" name="name" autocomplete="off" placeholder="Название ...">
        </td>
    </tr>
    <tr>
        <td>
            <b>Тип ценности:</b>
        </td>
        <td>
            <input type="text" name="type" autocomplete="off" placeholder="Тип ...">
        </td>
    </tr>
    <tr>
        <td>
            <b>Владелец:</b>
        </td>
        <td>
            <input type="text" name="owner" autocomplete="off" placeholder="Владелец ...">
        </td>
    </tr>
    <tr>
        <td>
            <b>Дата приобретения:</b>
        </td>
        <td>
            <input type="text" name="purchase_date" autocomplete="off" placeholder="Дата приобретения ...">
        </td>
    </tr>
    <tr>
        <td>
            <b>Описание:</b>
        </td>
        <td>
            <input type="text" name="description" autocomplete="off" placeholder="Описание ...">
        </td>
    </tr>
    </table>
    <input type="submit" value="Создать"></br>
</form>

{% endblock %}