{% extends 'inventory/wrapper.html' %}

{% block head %}
<title>Добавление организации</title>
{% endblock %}

{% block content %}

<form id="f" method="post" action="add_org" style="text-align: center;">
    {% csrf_token %}
    <p><b>Название организации:</b></p><br>
    <input type="text" name="org_name" autocomplete="off" placeholder="Название организации..."><br><br>

    <table style="margin: auto;">
        <tr>
            <td>
                <p><b>Дата создания:</b></p><br>
    <input type="text" name="create_date" autocomplete="off" placeholder="Дата создания...">
            </td>
            <td>
                <p><b>Адресс:</b></p><br>
    <input type="text" name="address" autocomplete="off" placeholder="Адрес...">
            </td>
            <td>
                <p><b>Описание:</b></p><br>
    <input type="text" name="org_description" autocomplete="off" placeholder="Описание...">
            </td>
        </tr>
    </table><br>
    <p><b>Директор:</b></p><br>
    <input type="text" name="director_last_name" autocomplete="off" placeholder="Фамилия директора..."></br>
    <input type="text" name="director_first_name" autocomplete="off" placeholder="Имя директора..."></br>
    <input type="text" name="director_middle_name" autocomplete="off" placeholder="Отчество директора..."></br>
    <input type="text" name="director_DOB" autocomplete="off" placeholder="ДР директора..."><br><br><br>
    <input id="Enter" type="submit" value="Enter"><br>
    </form>
{% endblock %}