{% extends 'inventory/wrapper.html' %}

{% block head %}
<title>{{org.org_name}}</title>
{% endblock %}

{% block content %}

	<p class="name">{{ org.org_name }}</p>
	<div class="about">
		<p>{{ org.address }}</p>
		<p>Дата создания: {{ org.create_date }}</p>
		<p>Директор:
			{{ org.director_last_name}}
			{{ org.director_first_name}}
			{{ org.director_middle_name}}
			({{ org.director_DOB}})</p>
		<p class="descriprion">{{ org.org_description }}</p>
	</div>
	
	<table class="t-pink">
	<tr>
		<th><b>Название</b></th>
		<th><b>Тип</b></th>
		<th><b>Дата приобретения</b></th>
	</tr>
	{% for w in org.wealth %}
	<tr>
		<td>
			<form id="f" method="post" action="wealth_info">
				{% csrf_token %}
                <button type="submit" name="name" value={{w.name}}>
                	<input type="hidden" name="org_name" value={{org.org_name}}>
                </button>
            </form>
            {{w.name}} 
		</td>
		<td>{{ w.type }}</td>
		<td>{{ w.purchase_date }}</td>
	</tr>
	{% endfor %}
	</table>
{% endblock %}