<!DOCTYPE html>
{% load static %}
<html lang="en" style="height: 100%; min-height: 100%">
<head>
	<meta charset="UTF-8">
	<title>{{ org.org_name }}</title>
</head>
<body style="height: 100%; min-height: 100%">

<div style="height: 100%; min-height: 100%">

	<div>


		<form id="f" method="post" action="set_wealth">
			{% csrf_token %}
			<input type="text" name="login" placeholder="Enter login..."></br>
			<input type="password" name="password" placeholder="Enter password...">
			<button type="submit" name="org_name" value={{ org.org_name }}>
				Enter
			</button>
		</form>


		<p><b>Название организации: </b>{{ org.org_name }}</p>
		<p><b>Дата создания: </b>{{ org.create_date }}</p>
		<p><b>Адрес: </b>{{ org.address }}</p>
		<p><b>Директор: </b>
			{{ org.director_last_name}}
			{{ org.director_first_name}}
			{{ org.director_middle_name}}
			({{ org.director_DOB}})</p>
		<p><b>Описание: </b>{{ org.description }}</p>

		<p><h3>Ценности</h3></h3></p>
		<table border="1" class="table table-striped">

		<tr>
			<th class="text-center"><b>Название</b></th>
			<th class="text-center"><b>Тип</b></th>
			<th class="text-center"><b>Дата приобретения</b></th>
		</tr>

		{% for w in org.wealth %}
		<tr>

			<td>
				<form id="f" method="post" action="wealth_info">
					{% csrf_token %}
					<input type="hidden" name="org_name" value={{ org.org_name }}>
					<button type="submit" name="name" value={{ w.name }}>
						{{ w.name }}
					</button>
				</form>
			</td>
			<td>{{ w.type }}</td>
			<td>{{ w.purchase_date }}</td>

		</tr>

	{% endfor %}
		</table>
	</div>


</div>

</body>

</html>