{% extends 'inventory/wrapper.html' %}

{% block head %}
<title>Список организаций</title>
{% endblock %}

{% block content %}

<table class="t-pink">

    <tr>
        <th><b>Название организации</b></th>
        <th><b>Дата создания</b></th>
        <th><b>Адрес</b></th>
    </tr>
    {% for org in orgs %}
        <tr>
            <td>
                <form id="f" method="post" action="org_info">{% csrf_token %}
                <button type="submit" name="org_name" value={{org.org_name}}>
                </button>
                </form>
                {{org.org_name}}                
            </td>
            <td>{{ org.create_date }}</td>
            <td>{{ org.address }}</td>

        </tr>
    {% endfor %}
</table>
{% endblock %}