* {
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 16px;
}
header {
 display: block;
 /*background-image: url("image/gold1.jpg");
 color: #181818;*/
 height: 80px;
 background-color: #181818;
}
body {
	background-image: url("image/gold1.2.jpg");
}

.block {
	background-color: #181818;
	/*color: #ffbb11;*/
	color: #e6611c;
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	padding: 20px;
}

.name {
	font-size: 32pt;
}
div .about{
	color: #ff4488;
	margin-bottom: 20px;
}

.descriprion {
	/*color: #ffbb11;*/
	color: #e6611c;
}

.t-pink {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 16px;
	width: calc(100%);
	text-align: center;
	border-collapse: collapse;
	background: #181818;
	position: relative;
}
.t-pink th {
	color: #181818;
	/*background: #ffbb11;*/
	background: #e6611c;
	border-bottom: 1px solid #ff4488;
	padding: 12px 17px;
}
.t-pink td {
	/*color: #e1e1e1;*/
	color: #eeff7e;
	border-bottom: 1px solid #ff4488;
	border-right: 1px solid #ff4488;
	padding: 7px 17px;
}
.t-pink tr:last-child td {
	border-bottom:  none;
}
.t-pink td:last-child {
	border-right: none;
}
.t-pink tr:hover td {
	background: #550022;
}

*::selection {
	/*color: #ff4488;*/
	color: #eeff7e;
	background: none;
}
*::-moz-selection {
	/*color: #ff4488;*/
	color: #eeff7e;
	background: none;
}

p {
	margin: 20px;
}

button {
	position: absolute;
	width: 100%;
	left: 0px;
	height: 2.5em;
	background: none;
	/*color: #e1e1e1;*/
	color: #eeff7e;
	margin-top: -7px;
	border: none;
	outline: none;
}

select, input {
	width: 300px;
	margin: 10px;
	height: 3em;
	background: #181818;
	border: 1px solid #ff4488;
	/*color: #e1e1e1;*/
	color: #eeff7e;
	outline: none;
	text-align: center;
}

option {
	color: #ff4488;
}



