* {
	margin: 0;
	padding: 0;
}
header {
 display: block; /* Для старых браузеров */
 /*background-image: url("image/gold1.jpg");
 color: #181818;*/
 height: 80px;
 /*margin-bottom: 20px;*/
 background-color: #181818;
}
body {
	background-image: url("image/gold1.jpg");
	font-size: 14pt;
}

.block {
	background-color: #181818;
	color: #ffbb11;
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	padding: 20px;
}

.main_block {
	margin: 20px;
}


.org_name {
	font-size: 32pt;
}




.table_black_gold {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 16px;
	width: calc(100%);
	text-align: center;
	border-collapse: collapse;
	background: #181818;
	position: relative;
}
.table_black_gold th {
	color: #181818;
	background: #ff4488;
	border-bottom: 1px solid #ff4488;
	padding: 12px 17px;
}
.table_black_gold td {
	color: #e1e1e1;
	border-bottom: 1px solid #ff4488;
	border-right: 1px solid #ff4488;
	padding: 7px 17px;
}
.table_black_gold tr:last-child td {
	border-bottom:  none;
}
.table_black_gold td:last-child {
	border-right: none;
}
.table_black_gold tr:hover td {
	background: #550022;
}
*::selection {
	color: #ff4488;
	background: none;
}
*::-moz-selection {
	color: #ff4488;
	background: none;
}
a {
	position: absolute;
	width: 100%;
	left: 0px;
	height: 1.5em;
}